<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h1>ポエム詳細</h1>
      <p>タイトル：<%= @poem.title %></p>
      <p>内容：<%= @poem.content %></p>
      <%= link_to "戻る", poems_path, class: 'btn btn-default' %>
  </div>
</div>
